<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_place_id %><br>
    <%= f.text_field :location_place_id %>
  </div>
  <div class="field">
    <% @nearby_users.each do |user| %>
    <%= user.email %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :start_date_time %><br>
    <%= f.datetime_select :start_date_time %>
  </div>
  <div class="field">
    <%= f.label :end_date_time %><br>
    <%= f.datetime_select :end_date_time %>
  </div>
  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
