<%= form_for(@event) do |f| %>
<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %>
    prohibited this event from being saved:</h2>

  <ul>
    <% @event.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="text-center heading">
  <h1>Let's Meet</h1>
  <i class="fa fa-coffee"></i><br>
  <i class="fa fa-at"></i>
</div>

<div class="scroll-container">
  <% @locations.each do |location| %>
  <div class="card">
    <label>
      <%= f.radio_button :location_place_id, location.place_id %><br>
      <% if location.photos[0] %>
        <%= image_tag(location.photos[0].fetch_url(100), :alt => location.name) %>
      <% else %>
        <%= image_tag('no-image.jpg', :alt => location.name) %>
      <% end %>
      <p><%= location.name %></p>
    </label>
  </div>
  <% end %>
</div>

<div class="text-center">
  <h1>With</h1>
</div>

<div class="scroll-container">
  <% @nearby_users.each do |user| %>
  <div class="card">
    <label>
      <%= check_box_tag :guest_ids, user.id, @event.guests.include?(user), :name => 'guest_ids[]' %><br>
      <%= image_tag(user.avatar_url, class:"img-rounded") if user.avatar? %>
      <p><%= user.nick_name %></p>
    </label>
  </div>
  <% end %>
</div>

<div class="form-group">
  <%= f.label :start_date_time %><br>
  <%= f.datetime_select :start_date_time %>
</div>
<div class="form-group">
  <%= f.label :end_date_time %><br>
  <%= f.datetime_select :end_date_time %>
</div>
<div class="form-group">
  <%= f.label :message %><br>
  <%= f.text_area :message, class: "form-control" %>
</div>
<div class="actions">
  <%= f.submit class: "btn btn-primary" %>
</div>
<% end %>
