<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user.email %>
</p>

<p>
  <strong>Location place:</strong>
  <%= @event.location_place_id %>
</p>

<p>
  <strong>Start date time:</strong>
  <%= @event.start_date_time %>
</p>

<p>
  <strong>End date time:</strong>
  <%= @event.end_date_time %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
